body {
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  background: linear-gradient(rgb(199, 205, 182), rgb(160, 178, 161), rgb(121, 151, 141), rgb(82, 125, 121), rgb(37, 100, 101));

}

p {
  font-size: 25px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

a {
  color: rgb(37, 100, 101);
  text-decoration: none;
  transition: color 0.1s;
  font-size: 25px;
}

a:hover {
  color: rgb(121, 151, 141);
}

.card {
  padding: 2rem;
  margin-top: 15%;
  box-shadow: rgb(37, 100, 101) 0px 13px 27px -5px, grey 0px 8px 16px -8px;
  background-color: rgba(235, 247, 236, 0.598);
  border-radius: 20px;
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: rgb(37, 100, 101);
  border-radius: 5px;
  padding: 3px 15px;
  color: whitesmoke;
  border: 0;
  font-size: 25px;
  transition: background-color 0.1s;
}

button:hover {
  background-color: rgb(121, 151, 141);
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

li {
  padding: 10px;
  list-style: none;
  font-size: 20px;
}

.wrapper {
  margin: 100px auto 0 auto;
}

.hide {
  display: none;
}

.start {
  text-align: center;
  margin-top: 15%;
}

.scores {
  position: absolute;
  top: 20px;
  left: 30px;
}

.feedback {
  font-style: italic;
  font-size: 20px;
  margin-top: 20px;
  padding-top: 10px;
  color: rgb(37, 100, 101);
}

.timer {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 25px;
}
